<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/EV OWNER/Frame 1@2x.png" />
    <title>FixPoint</title>
    <link rel="stylesheet" href="/EV OWNER/4wheel/CSS/custom.css">
    <link rel="stylesheet" href="/EV OWNER/4wheel/CSS/4owner.css">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
  />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<body>
      <%- include('EV OWNER/4wheel/PARTIALS/header') %>

      <div id="main">
          <div id="main4">
              <h2>Welcome To <span>FixPoint   </span> Arena</h2>
          </div>
          <div id="main1">
              <video id="a1" autoplay loop muted src="/EV OWNER/4wheel/IMAGES/Customimages/production ID_4489811.mp4"></video>
          </div>
          <div id="main2">
              <img id="a2" src="/EV OWNER/4wheel/IMAGES/Customimages/Frame 5.png" alt="">
              <div id="a3">
                  <div class="a4">
                      <img src="/EV OWNER/4wheel/IMAGES/Customimages/mechanic 2.png" alt="">
                      <h3>Whole Service</h3>
                  </div>
                  <div class="a4">
                      <img src="/EV OWNER/4wheel/IMAGES/Customimages/helmet 2.png" alt="">
                      <h3>Engine Check</h3>
                  </div>
                  <div class="a4">
                      <img src="/EV OWNER/4wheel/IMAGES/Customimages/robotic-arm 2.png" alt="">
                      <h3>Road side assistance</h3>
                  </div>
                  <div class="a4">
                      <img src="/EV OWNER/4wheel/IMAGES/Customimages/engineering 2.png" alt="">
                      <h3>Car Wash</h3>
                  </div>
              </div>
          </div>
          <div id="main3">
              <div id="a5">
                  <div class="sidenav">
                      <button id="a6" id="a8" class="dropdown-btn">Exterior <i class="ri-arrow-down-s-line"></i>
                      </button>
                      <div class="dropdown-container">
                          <button id="a9" class="dropdown-btn">Wing Mirrors <i class="ri-arrow-down-s-line"></i>
                          </button>
                          <div class="dropdown-container">
                              <a><select id="mirrors">
                                  <option value="transparent">Default</option>
                                  <option value="#222">Black</option>
                                  <option value="#555">Space grey</option>
                                  <option value="#df1d20">Flame red</option>
                                  <option value="#333446">Royal blue</option>
                                  <option value="#f7b72d">Flaming yellow</option>
                                  <option value="#c4cace">Silver</option>
                                  <option value="#5ecf2e">Lime green</option>
                                  <option value="#0064c0">Blue</option>
                                  <option value="#2eafb2">Turquoise</option>
                              </select></a>
                          </div>           
  
                        <button id="a9" class="dropdown-btn">Body <i class="ri-arrow-down-s-line"></i>
                        </button>
                        <div class="dropdown-container">
                          <a><select id="body">
                              <option value="transparent">Default</option>
                              <option value="#222">Black</option>
                              <option value="#555">Space grey</option>
                              <option value="#df1d20">Flame red</option>
                              <option value="#333446">Royal blue</option>
                              <option value="#f7b72d">Flaming yellow</option>
                              <option value="#c4cace">Silver</option>
                              <option value="#5ecf2e">Lime green</option>
                              <option value="#0064c0">Blue</option>
                              <option value="#2eafb2">Turquoise</option>
                          </select></a>
                        </div>
  
                        <button id="a9" class="dropdown-btn">Alloys <i class="ri-arrow-down-s-line"></i>
                        </button>
                        <div class="dropdown-container">
                          <a><select id="alloys">
                              <option value="transparent">Default</option>
                              <option value="#fff">White</option>
                              <option value="#333">Black</option>
                              <option value="#555">Space grey</option>
                              <option value="#ffd700">Gold</option>
                              <option value="#b76e79">Rose gold</option>
                              <option value="#b1f4e7">Ice cold</option>
                              <option value="#ff7f21">Orange</option>
                              <option value="#f0f">Pink</option>
                              <option value="#70f">Purple</option>
                              <option value="#c32148">Maroon flush</option>
                          </select></a>
                        </div>
                        <a href="#">Shiny <input id="shiny" type="checkbox" /></a>
                        <a class="c1" href="#">Head Lights <div class="b1" id="b3"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngegg.png" alt=""></div> </a> 
                        <a class="c1" href="#">Tail Lamp <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing.com.png" alt=""></div></a>
                        <a class="c1" href="#">Wind Shield <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing1.png" alt=""></div></a>
                        <a class="c1" href="#">Door Handle <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing2.png" alt=""></div></a>
                      </div>
                      <button id="a6" class="dropdown-btn">Interior <i class="ri-arrow-down-s-line"></i>
                      </button>
                      <div class="dropdown-container">
                        <a class="c1" href="#">Battery <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/Car-battery-on-transparent-background-PNG.png" alt=""></div></a>
                        <a class="c1" href="#">Power Invertor <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngegg3.png" alt=""></div></a>
                        <a class="c1" href="#">Controller <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngegg4.png" alt=""></div></a>
                        <a class="c1" href="#">Electric Traction <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing5.png" alt=""></div></a>
                        <a class="c1" href="#">Charger <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/kisspng-battery-charger-car-usb-mobile-phones-tablet-compu-5aec5a6157e4f2.58895605152543907336.png" alt=""></div></a>
                        <a class="c1" href="#">Transmission <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngegg6.png" alt=""></div></a>
                        <a class="c1" href="#">AC/DC Converter <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngegg7.png" alt=""></div></a>
                        <a class="c1" href="#">Steering Wheel <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing8.png" alt=""></div></a>
                        <a class="c1" href="#">Gear Box <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing10.png" alt=""></div></a>
                        <a class="c1" href="#">Charge Port <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing11.png" alt=""></div></a>
                      </div>
                      <button id="a6" class="dropdown-btn">Accessories <i class="ri-arrow-down-s-line"></i>
                      </button>
                      <div class="dropdown-container">
                        <a class="c1" href="#">MI vehicle tyre Inflator <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/download-removebg-preview.png" alt=""></div></a>
                        <a class="c1" href="#">Ceramic Coating and Spray <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/download-removebg-preview1.png" alt=""></div></a>
                        <a class="c1" href="#">Microfiber Cleaning Cloth <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing12.png" alt=""></div></a>
                        <a class="c1" href="#">Seat Bealt Buckle <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngegg13.png" alt=""></div></a>
                        <a class="c1" href="#">Car Perfumes <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngegg14.png" alt=""></div></a>
                        <a class="c1" href="#">Car seat Cover <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing15.png" alt=""></div></a>
                        <a class="c1" href="#">Steering Wheel Cover <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing16.png" alt=""></div></a>
                        <a class="c1" href="#">Car Body COvers <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/kia-seltos--removebg-preview.png" alt=""></div></a>
                        <a class="c1" href="#">Car Stickers <div class="b1" id="b2"><img src="/EV OWNER/4wheel/IMAGES/Customimages/pngwing17.png" alt=""></div></a>
                      </div>
                    </div>
              </div>
              <div class="container">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 950 535">
                      <path class="alloys" d="M426.1 361.1c-.5-17.9-7.2-62.2-37.1-62.2s-34.2 47.4-34.2 47.4c-3.8 24.5 9.1 74.4 37.1 74.4s34.6-41.9 34.2-59.6zm-56.8 4.8l.2-16.9 2.6 2.8.3 11.3-3.1 2.8zm42.1-42.8l4.9 5.3-13.7 14.6-1-1.5 9.8-18.4zm-35.6 66.2l-2.8-3.2 6.5-10.5 1.7.8-5.4 12.9zm5.6-49.4c-.2-.3-5.2-7.4-8-12.3l1.7-3.6c2.1 5.7 4.6 11.2 7.6 16.4l-1.3-.5zm6.5 61.7s-.3-9.3 1.5-12.5c0 0 3.1-2 4.5 1.3s4.6 14.3 4.6 14.3-7 .2-10.6-3.1zm7.2-76c-.3.8-1 1.3-1.8 1.2h-1c-1.4 0-2.7-1.1-2.9-2.5-.6-3.9-.9-6.9-.6-10.9l10.2-.4s-2.1 7.5-3.9 12.6zm17.3 70.5c-4.1-5.8-7.4-12.5-10.3-19l-2.3-2.2 1.2-1.6s11.3 15 15.1 18.1l-3.7 4.7zm10-22.7l-7.3-5.3c-1.4-1-2.2-2.6-2.2-4.3l-.5-10.7 8-8.6c2.3 13.3 2 29 2 28.9z" />
                      <path class="alloys" d="M155 283.3s-14.1-.6-14.1 37.9 8.8 48.5 14.6 48.7 14.1-13.1 13.8-44.3-7.4-42.3-14.3-42.3z" />
                      <path fill="transparent" d="M340.9 231.8l-.4 6.9 7.7 3.3 1.1-8s-3.7-1.5-8.4-2.2z" />
                      <path class="body" d="M838 318.1c-1.1-4.1-3.4-13.8-3.4-23.8 0-13.3-4.3-20.6-6.6-25.2-1.9-3.7-4.1-11.4-5-14.4-.2-.7-.9-1.1-1.6-1-3.3.6-12.3 2.2-18.3 2.7-1.5.1-3-.5-4-1.7-3.5-4.2-11.5-15.2-9.7-27.4 2.3-15.6-1-16.3-7-19.9s-52.8-30.5-92.2-41.5c0 0-30.9-21.9-46.8-33.2S580.1 87.6 505.2 80c-75-7.6-200.4-20.2-272.4 10.9 0 0-31.7 12.7-38.5 24.9-9.6 17.3-18.7 46.9-28.2 58.1-10.7 12.6-19.9 29.2-22.9 46.8-2.7 15.6-4 37-8.5 49.7-1.4 4.1-2.1 8.4-2.1 12.8 0 6 .3 14.5 2 23.1 0 0-1.3-53.8 16.9-53.4 16.4.3 32.8 67 40.3 83.2 1 2.1 2.9 3.5 5.1 3.9l145 27s-.7-21.6 2.3-35.2c0 0-4-68.4 37.2-73 0 0 22.9-4 42.8 49.4 19.1 51.3 17.4 70.7 31 82.5 1.1 1 2.5 1.5 3.9 1.6 15.1 1.1 108 7.8 194 4.1 79.5-3.4 146.3-10.3 165-12.4 3.7-.4 7.1-2.4 9.2-5.5 1.3-1.9 2.7-4.2 3.8-7 1-2.4.7-5.1-.8-7.2-.8-1.1-.9-2.6-.1-3.8v-.1c.7-1 .8-2.3.3-3.4l-4.7-10.6c-1-2.1-1.4-4.5-1.2-6.8l.7-10c0-.4.3-.8.7-.9 1.8-.6 6.8-2.5 11-6.9 1-.8 1.4-2.3 1-3.7zM815 267c3.1-.1 5.4 2.7 4.8 5.7-2.3 12-9.1 38.5-20.1 48.9-14.4 13.5-91.2 15.8-135 11.4-33.4-3.3-46.4-17.6-71.8-57.1-1.7-2.7.2-6.3 3.4-6.3 31.7-.1 156.9-.7 218.7-2.6zm-477.5-77.5c-.1 0-.2.1-.2.2 0 1.1-.1 5.8-4.9 7.2-6.9 2.1-11.9.6-14.6-4.1s-6.6-8.6-6.6-8.6-54.2-8.1-75.1-9.4c-14-.9-26.6-1.7-34.7-2.3-1.9-.1-3.7-1.1-4.9-2.7-2.5-3.5-6.1-10.3-4-18.2l2.1.3s.3-21.2 10.6-33.2c10.3-11.9 37.8-24.9 65.7-28.5 27.9-3.6 53.1 5 63.4 21.6 10.3 16.6 35.7 55.9 37.3 70.2 1.7 14.2-.8 12.8-34.1 7.5zm64.8-29.2s-8.3 1.3-15.6-7.3c-7.3-8.6-34.2-60.7-51.8-71.3 0 0 149-8 223.3 12.9l3-.7s55.7 19.3 110.5 67.4c.6.5 1.5.6 2.1.1l3.2-2.2 10.3 6.9c-3.5.2-10.3.3-22.2-.3-19.3-.9-54.4-5.5-262.8-5.5zm51.8 83.7c-13.8-15.8-20.9-32.9-22.5-37.5-.2-.7 0-1.4.6-1.8l3.5-2.4c16-12.4 47.9 2.6 101.8 15.5 45 10.8 55.9 23.7 62.2 32.4 2.5 3.4-.1 8.1-4.2 7.9l-79.6-3.5c0 4.2 3.3 8.7 5.4 11.8.9 1.3-.2 3.1-1.8 2.9-18.8-2.1-50.7-8.4-65.4-25.3zm366.7 125.8c-3.1 2.2-6.8 3.7-10.6 4.2-16.6 2.4-66 9.1-112.7 10.4-9.5.3-19.8.4-30.6.4-54.3 0-119-2.6-132.9-3.9-16.6-1.5-49.5-5.2-51.9-8.5-3.8-5.1-6.3-2.1-8.4-5.1-2.9-4 15.2-26 26-32 9.7-5.4 47.1-.9 54.6 0 .8.1 1.5.7 1.8 1.4l2.7 7.2c1.3 3.6.5 7.6-2.2 10.3-5.6 5.7-15.7 15.3-25.1 20 0 0 42.1 3.5 68.9 5.2l.1-.1c4.2-3.7 13.8-8 20.1-10.6 3.6-1.5 7.5-2.3 11.4-2.5l30.4-1.3v-20.7c0-1.3 1-2.3 2.3-2.4l118.9-4c1.3 0 2.5 1 2.5 2.4v19c17.7-2.2 22.6 1.8 27.4 5.3 4.9 3.5 10.8 2.7 10.8 2.7l-3.5 2.6z" />
                      <path class="mirrors" d="M326.4 184.1c1.1-.1 2-.6 2.6-1.5 1.3-2.1 4.1-6.9 2-16-3.3-14.3-9.8-22.2-35.8-17.1-24.9 4.9-32.7 22.9-12.9 29.9 16.9 5.9 38.4 5.1 44.1 4.7z" />
                  </svg>
                  <img id="z1" src="https://assets.codepen.io/2369764/vauxhall-corsa.jpg" alt="Vauxhall Corsa" />
              </div>
              
          </div>
          <%- include('EV OWNER/4wheel/PARTIALS/footer') %>
      </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js" integrity="sha512-CPA5LMoJI/a5HkSIAKcBtFXe4gqGjPUL2ExF/3PmhrrHI17wod9xOqqF+0WZQRKIIq0KwF8oG5BaiWobtrke3A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script >var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }
        "use strict";
        document.getElementById("alloys").addEventListener("change", (e) => {
            const alloys = document.querySelectorAll("path.alloys");
            alloys.forEach((alloy) => {
                alloy.style.fill = e.target.value;
            });
        }, false);
        document.getElementById("body").addEventListener("change", (e) => {
            document.querySelector("path.body").style.fill = e.target.value;
        }, false);
        document.getElementById("mirrors").addEventListener("change", (e) => {
            document.querySelector("path.mirrors").style.fill = e.target.value;
        }, false);
        document.getElementById("shiny").addEventListener("change", (e) => {
            document.querySelector("svg").classList.toggle("shiny");
        });
        
        
        let t1 = gsap.timeline({
          scrollTrigger: {
            trigger: "#main4",
            // pin: true,
            start: " 43%",
            // markers: true,
            end: "+=40",
            scrub: 1,
          }
        });
        t1.to('#main4', {
          dduration:3,
          opacity:0,
          ease:Expo.easeInOut,
          y:-150,
        });</script>
  </body>
  </html>


    