
.top-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 25px;
	background-color: #ffffff;
}
.top-bar span{
	color: #000000;
}
.headtop{
  margin-left: 50px ;
  font-weight: 600;
  font-family: sans-serif;
}
.top-bar ul{
	list-style: none;
	display: flex;
}
.top-bar li{
	margin: 0px 5px;
}
.top-bar a{
	color: #ffffff;
}
.top-bar a:hover{
	color: #222222
}
@media only screen and (max-width: 600px) {
  .hello {display: none;
  }

}
@media screen and (max-width: 992px) {
  .hello {display: none;
  }
}


.one li {
  list-style: none;
}

.one li a {
  position: relative; 
  display: block;
  top: 35%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 43px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  font-size: 15px;
  color: rgb(255, 255, 255);
  transition: .5s;
}


.one li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #45E13D;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.one li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #45E13D;
}

.one li a:hover {
  color: #45E13D;
  box-shadow: 0 0 5px #45E13D;
  text-shadow: 0 0 5px #45E13D;
}

.fa-brands{
  margin-top: 5px;
}

.hello{
  color: #333;
  font-family: tahoma;
  font-size: 2rem;
  font-weight: 100;
  line-height: 2rem;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
  margin-top: 10px;
  margin-left: 100px;
}

.hello span {
  font-size: 22px;
  font-weight: 400;
  margin-left: 80px;
}

.message {
  background-color: #45E13D;
  color: #333;
  display: block;
  font-size: 25px;
  font-weight: 700;
  overflow: hidden;
  position: absolute;
  top: 0.2rem;
  left: 270px;
  animation: openclose 6s ease-in-out infinite;
  
  margin-top: -2px;
}

.word1{
  
  font-size: 30px;
  font-family: tahoma;
}

/*****navbar****/

 .nav-link {
  color: #ffffff !important;
}
.navbar{
  background-color: #000000 !important;
  height: 80px;
}
.sm-icons {
  flex-direction: row;
}
.sm-icons .nav-link {
  padding-right: 1em;
}
.logo{
  color: #45E13D !important;
}

.navbar-brand{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.container-fluid{
  margin-left: 20px !important;
  margin-right: 20px !important
}

.nav-link:hover{
  color: #45E13D !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: underline;
  -moz-text-decoration-color: #45E13D;
  text-decoration-thickness: 2px;

}
.active{
  color: #45E13D !important;
}

.nav-item{
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.collapse{
  margin-left: 30px;
}

.iconhead{
  display: flex !important;
}
.navbar-collapse{
  background-color: black !important;
  border-radius: 20px;
  width: 100% !important;
  z-index: 100;
}
/*******hero****/


.page-header{
     background: url('/EV OWNER/IMAGES/Maintain.jpg')
     no-repeat; position: relative; background-size: cover; }
.page-caption {
     padding-top: 170px; padding-bottom: 174px; }
.page-title { 
    font-size: 46px; line-height: 1; color: #fff; font-weight: 600; text-align: center; }

.card-section { 
    position: relative; bottom: 60px; }
.card-block {
     padding: 80px;
    border-radius: 20px; }
.section-title { 
    margin-bottom: 60px; }


/******footer****/

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #45E13D;
}
.single-cta i {
  color: #45E13D;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #45E13D;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #45E13D;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #45E13D;
    padding: 13px 20px;
    border: 1px solid #45E13D;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #45E13D;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #45E13D;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.footerlogo{
    height: 80px;
}





/******question***/

/* 
* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
} */
#main {
  width: 100%;
  height: 330vh;
  background-color: rgb(243, 243, 243);
}
#main1 {
  background-color: black;
  width: 100%;
  height: 100vh;
}
#main1 video {
  object-fit: cover;
  
  left: 50%;
  top: 0%;
  
  width: 100%;
  height: 100%;
  /* display: none; */
}
#main2 {
  height: 130vh;
}
#a2 {
  margin-top: 4%;
  margin-left: 17.5%;
  width: 65%;
}
#a3 {
  margin-left: 10%;
  margin-top: 80px;
  width: 80%;
  height: 150px;
  /* background-color: rgb(226, 226, 226); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.a4 h3 {
  font-size: 16px;
  font-family: gilroy;
}
.a4 {
  box-shadow: 5px 5px 10px 0px #5f5f5f;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100px;
  background-color: aliceblue;
}
.a4:hover {
  box-shadow: 5px 5px 10px 0px #4b4b4b;
  cursor: pointer;
}
#main3 {
  position: relative;
  width: 100%;
  height: 100vh;
  /* border-top: 1px solid black; */
  background-color: rgb(255, 255, 255);
}
#a5 {
  width: 20%;
  height: 100vh;
  background-color: #fff;
  /* margin-top: 20px; */
}

#a7 {
  top: 10%;
  position: absolute;
  width: 60%;
  left: 30%;
}
.sidenav {
  /* margin-top:20px; */
  height: 100%;
  width: 200px;
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  /* padding-top: 20px; */
}

/* Style the sidenav links and the dropdown button */
.sidenav a{
  /* border-top-right-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
  /* border: none; */
  background: none;
  width: 100%;
  text-align: left;
  margin-top: 2px;
  cursor: pointer;
  outline: none;
  background-color: #d7d7d7;
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: flex;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    margin-top: 2px;
    cursor: pointer;
    outline: none;
    background-color: #d2d2d2;
  }

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  /* color: #f1f1f1; */
  background-color: #c2c2c2;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  /* background-color: green; */
  color: rgb(0, 0, 0);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #ffffff;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
#a6{
  margin-top: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#a6 i{
    position: absolute;
    margin-top: 3px;
    left: 140px;
}
#a9 i{
  position: absolute;
  margin-top: 3px;
  left: 140px;
  font-size: 18px;
}
#shiny{
  position: absolute;
  margin-top: 3px;
  left: 142px;
  font-size: 18px;
}
#a9{
  font-size: 16px;
  
}
.container {
  top: 0%;
  left: 20%;
  position: absolute;
  /* height: 100%; */
  width: 80%;
}
.container svg {
  /* background-color: rgb(243, 243, 243); */
  position: relative;
  z-index: 2;
  /* background-size: 80%; */
  background-repeat: no-repeat;
  background-position: 50%;
  mix-blend-mode: multiply;
}
.container svg.shiny {
  mix-blend-mode: color-burn;
}
.container svg path {
  fill: transparent;
  transition: fill 160ms ease;
  will-change: fill;
}
.container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.options {
  padding: 30px 0px ;
  /* height: 50px; */
  width: 80%;
  position: absolute;
  z-index: 3; 
  bottom: 0%;
  left: 20%;
  display: flex;
  gap: 0.5rem;
  background-color: #fff;
}
label{
    font-size: 30px;
}
#mirrors,#body,#alloys{
  border: none;
  background-color: #d2d2d2;
  width: 100%;
  /* padding: 0px 0px 0px 10px; */
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    display: flex;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    margin-top: 2px;
    cursor: pointer;
    outline: none;
}

.b1{
  display: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: rgb(218, 218, 218);
  position: absolute;
  left: 13.3%;
  margin-top: -5px;
}
.b1 img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.c1:hover .b1 {
  display: initial;
}
#main4{
  display:flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top:45vh;
  position: absolute;
  width: 30%;
  margin-left: 36%;
  height: 15%;
  background-color: rgb(32, 32, 32);
  z-index: 11;
  opacity: 0.8;
}
#main4 h2{
  font-family: "Acherus Militant 1";
}
#main4 h2 span{
  color: rgb(25, 249, 22);
}
@media(max-width:500px){
  #main{
    width: 100%;
    overflow: hidden;
    /* background-color: black; */
    height: 180vh;
  }
  #main1{
    overflow: hidden;
    /* width: 10vh; */
    height: 100vh;
  }
  #main4{
    width: 60%;
    margin-left: 20%;
  }
  .a4{
    height:50px;
    width: 60px;
  }
  .a4 img{
    width: 30px;
  }
  .a4 h3{
    font-size: 8px;
  }
  #a3{
    margin-top: 40px;
  }
  #main2{
    padding-top:30px;
    /* width: 50vh; */
    height: 40vh;
    border-bottom: 2px solid black;
  }
  .sidenav a{
    font-size: 12px;
    width:88px;
  }
  #a9{
    font-size: 12px;
    width:88px;
    width:88px;

  }
  .dropdown-btn{
    font-size: 12px;
    width:88px;
  }
  #z1{
    width:100%;
  }
  
  .sidenav{
    width:87px;
  }
}